@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


 <p><span class="s1"></span><span class="s1">📍123 Nguyễn Trãi, Bến Thành, Quận 1, HCMC</span></p>
 <p><span class="s1">📍44A Trần Quang Diệu, Quận 3, HCMC</span><br></p>
 <p><span class="s1">📍</span>26 Lý Tự Trọng, Quận 1, HCMC<br></p>
 <p><span class="s1">📍<span>TNP Lê Lai (đối diện 90 Lê Lai), Quận 1, HCMC</span></span></p>
 <p><span class="s1"><span>📍136 Nguyễn Hồng Đào, Tân Bình, HCMC</span></span></p>

 <p class="p1">TTT RESTAURANT MANAGEMENT LÀ MỘT WEBSITE NHÀ HÀNG DO CÔNG TY TÉP TÔM TẠO RA NHẰM PHỤC VỤ VÀ ĐÁP ỨNG NHU CẦU CỦA BẠN TRONG CUỘC SỐNG VỚI NHỮNG MÓN ĂN KHÔNG NGỪNG ĐỔI MỚI SÁNG TẠO, HƯỚNG TỚI CÁC THIẾT KẾ BẮT MẮT, NỘI DUNG RÕ RÀNG, DỄ SỬ DỤNG, CHÂN THỰC !!</p>