@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6 w3-agile-footer-grid grid-w3-1">
    <div class="contact-block-left">
        <form action="#" method="post">
            <input type="text" placeholder="Name" name="Name" required="">
            <input type="email" class="email" placeholder="Email" name="Email" required="">
            <textarea placeholder="Message" name="message" required=""></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
    <div class="clearfix"> </div>
</div>
<address>

    <abbr title="Phone">Phone number 1:</abbr>
    039.988.3399
   
</address>
<address>

    <abbr title="Phone">Phone number 2:</abbr>
    039.988.3388

</address>

<address>
    <strong>Email 1:</strong>   <a href="mailto:Support@example.com">TTTrestaurant@example.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:Marketing@example.com">TTTFood@example.com</a>
</address>